.bd1{
  border: 2px solid red;
  padding-bottom: 20px;
  margin: 20px;
}

.bd2{
  border: 2px solid red;
  padding-bottom: 20px;
  margin: 20px;
  display: none;
}

.current-roll {
  margin: 0px 30px;
}
